*, *::before, *::after {
    box-sizing: border-box;  
}

body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "inter", sans-serif;
    color: #676769;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

/* layout */

header {
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.8em;
    cursor: pointer;
    max-width: 100%;
    margin-right: 7em;
}

.join {
    display: flex;
    align-items: center;
    gap: 0.8em;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.page {
    display: flex;
    padding: 0.25em 0em;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
}

main {
    padding: 2em;
    display: grid;
    grid-template-columns: minmax(auto, 50%) 1fr; 
    gap: 2em; 
}

.hero {
    position: relative;
    grid-column: 1 / -1;
    margin-bottom: 3em;
}

.intro-section,
.structure-section,
.together-section,
.legal-section,
.resources-section,
.conclusion-section {
    grid-column: 2;
}

.structure-section,
.together-section,
.legal-section,
.resources-section,
.conclusion-section {
    margin-top: 3em;
}

.written, 
.published {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    color: #FFF;
}

.img-items {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: flex-end;
    gap: 6rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; 
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 0.5em;
    cursor: pointer;
}

.actions {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
}

.one {
    grid-column: 1;
    padding-right: 6em;
}

.initial {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.format {
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #161618;
    cursor: pointer;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cta {
    display: flex;
    width: 48rem;
    flex-direction: column;
    gap: 1rem;
}

.footer-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}

.footer-pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.copyright {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 6rem;
    padding-right: 2rem;
    background: #161618;
    gap: 5.5rem;
}

/* typography */

.logo-text {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5625rem;
}

nav a,
.dropdown-menu a {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; 
    text-decoration: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    padding: 1.5em;
    box-shadow: 0px 4px 6px rgba(110, 110, 110, 0.1);
    z-index: 1; 
}

.dropdown-menu.show {
    display: block; 
}

.dropdown-item {
    display: block;
    padding: 0.5em 1em;
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5rem;
}

.hero-sum {
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.0625rem;
    margin-top: 1.5em;
}

h1,
.page, 
h4, 
h2 {
    color: #161618;
    margin: 0;
}

.written p,
.published p {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.25rem;
    }

.overlay-h4 {
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem; 
}

.copy {
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.25rem; 
}

h4 {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
}

p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}

.small {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
}

blockquote {
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.75rem; 
    color: #161618;
    border-left: 2px solid #161618;
    padding-left: 1em;
    margin-left: 0;
}

.p-quote {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; 
}

ol{
    margin-left: 1.2em;
    padding: 0;
}


span {
    text-decoration-line: underline;
    cursor: pointer;
}

.footer-h2 {
    color: #FFF;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-p {
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem; 
}

footer a {
    color: #FFF;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5rem; 
    text-decoration: none;
}

ul li {
    text-decoration: none;
}

h3 {
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem; 
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    }

    .copyright {
        color: #EAEAEA;
        font-weight: normal;
    }

/* images */

.hero-image {
    width: 100%;
    object-fit: cover;
    margin-top: 4em;
    height: auto;
    max-height: 40em;
}

.section-image {
    max-width: 100%;
    object-fit: cover;
}

/* buttons */

.logo {
    width: 2rem;
    height: 2rem;
}

button {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.625rem 1.125rem;
    border: 1px solid #161618;
    cursor: pointer;
}

.copy {
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    border: 1px solid #FFF;
    backdrop-filter: blur(4px);
    background-color: transparent;
    color: #fff;
}

.login-btn {
    color: #161618;
    background-color: #fff;
    cursor: pointer;
}

.create-btn {
    color: #fff;
    border: 1px solid #161618;
    background: #161618;
    cursor: pointer;
}

.cta-btn {
    color: #fff;
    border: 2px solid #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    background-color: transparent;
    cursor: pointer;
}

/* icons */

.arrow-down {
    width: 1.25rem;
    height: 1.25rem;
}

.socialact {
    width: 1.25rem;
    height: 1.25rem;
}

.arrow-right {
    width: 1.25rem;
    height: 1.25rem;
}

.menu-toggle {
    position: relative;
    z-index: 2; 
    width: 1.125rem;
    height: 0.75rem;
    cursor: pointer;
}

@media (max-width: 780px) {

    header {
        padding-left: 1em;
        padding-right: 1em;
    }

    .header-container {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    nav {
        display: none;
    }

    .join {
        display: none;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 3em;
    }

    .hero {
        margin-bottom: 1em;
    }

    header,
    main,
    section,
    footer {
        width: 100%;
    }

    .intro-section,
    .structure-section,
    .together-section,
    .legal-section,
    .resources-section,
    .conclusion-section {
        grid-column: 1;
        margin-top: 1em;
    }

    .img-items {
        padding: 1rem;
        gap: 2rem;
        z-index: 2; 
    }

    .one {
        grid-column: 1;
        max-width: 100%;
        padding-right: 0;
    }

    footer {
        padding-left: 1em;
        padding-right: 1em;
    }

    .cta {
        max-width: 100%;
    }

    .cta-container {
        flex-direction: column;
        max-width: 100%;
    }

    .footer-pages {
        gap: 5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer-category {
        gap: 0.5em;
    }

    .copyright {
        flex-direction: column;
    }

    footer {
        gap: 2em;
        padding-top: 3.5em;
        padding-bottom: 2em;
    }
    
    /* typography */

    h1 {
        font-size: 2.25rem;
        line-height: 125%; 
    }

    .hero-sum {
        font-size: 1.125rem;
        line-height: 1.75rem; 
    }

    h4 {
        font-size: 1.125rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
       line-height: 1.752rem;
    }

    blockquote {
        font-size: 1.25rem;
        line-height: 1.875rem;
    }

    .footer-h2 {
        font-size: 1.5rem;
    }

    .footer-p {
        font-size: 0.875rem;
    }

    .footer-category h3 {
        font-size: 0.875rem;
        letter-spacing: 0.07rem;
    }

    .footer-category a {
        font-size: 1rem
    }

    .copyright  p,
    .links a {
        font-size: 0.7rem;
    }


    .links {
        display: flex;
        gap: 1em;
    }


    /* buttons */

    .actions {
        display: none;
    }

    /* images */

    .hero-image {
        max-height: 100%;
        margin-top: 2em;
    }

    /* icons */

    .arrow-right {
        transform: rotate(90deg);
    }
}

@media (max-width: 486px) {
    .footer-pages {
        gap: 5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (min-width: 780px) {
    .menu-toggle {
        display: none;
    }
}

@media (max-width: 1024px) {
    .logo-container {
        margin-right: 3em;
    }
}

